{% extends "post.html" %}

{% set title = 'Drabble č. 10 (15. kolo)' %}

{% block content %}

<h2>Drabble č. 10</h2>
<p>„Ty snad žertuješ!“</p>
<p>Vyjekla překvapeně a s náznakem nesouhlasu. Dokonce i zůstala stát na místě. Zůstal taky.</p>
<p>„Vypadám snad jako šašek?“</p>
<p>Ohradil se.</p>
<p>„Často.“</p>
<p>„Tsk... Drzá slova. Tohle má být ta věhlasná urozená výchova? No jen počkej, až tě seznámím s tou naší.“</p>
<p>Pokusil se i zády k pouličnímu osvětlení výhrůžně tyčit jak komín manufaktury, ale kýžené reakce se od ní nedočkal.</p>
<p>„Jak říkám, šašek. Ještě kdybys byl i vtipný…“</p>
<p>Přeladil na citové vydírání.</p>
<p>„Jste krutá, dámo, takhle zraňovat mou pýchu.“</p>
<p>„Ale vždyť si to užíváš.“</p>
<p>Culila se, a ač to nemohl vyvrátit, nehodlal jí to ani potvrzovat.</p>
<p>„Oháněj se tedy šašky. Já ti ale připomínám, že skrze své šprýmy promlouvali o nejčiřejší pravdě. Ani pravdivost mých slov nelze vyvrátit. Je potřeba vydat se za svými sny. Stejně jako tak činili mořeplavci v staletích před námi, ani my bychom neměli čekat. Uteč se mnou! Jen my dva a nikdo víc. Moře nezná hranic. Můžeme procestovat celý svět. Tak jak jsme o tom snili dřív. Kolonie na západě, nebo na východě, nebo pobřeží černé Afriky."</p>
<p>Znovu se jal kráčet dolu promenádou, rozhazuje rucema napravo a nalevo. Následovala jej, ale pohled, který mu věnovala, mluvil za vše.</p>
<p>"Proč ne rovnou její nekonečné vnitrozemské pláně, kde se prohánějí lvy a pruhovaná stáda? A taky staré neprobádané pralesy rostodivné Indie a ledové hory tyčící se nad ní. Každičký týden nová země."</p>
<p>"Každičký asi ne, ale ten zbytek by se snad dal zařídit.“</p>
<p>Zasmála se a ten zvuk jej zahřál u srdce.</p>
<p>„To o šašcích beru zpět. Nejsi dvorský šprýmař, nýbrž učiněný blázen posedlý bludy. Hranice mezi pokusem o zaujetí dámy a naprostým pomatením smyslů je zdá se občas velmi tenká."</p>
<p>Do jeho pohledu se vkradlo cosi potutelného.</p>
<p>„Tenká jako listy papíru, na jehož stránky jsem skládal básně o tvé kráse? Nebo snad ještě tenčí?“</p>
<p>Tváře jí zrudly při vzpomínce na některé z veršů, kterými ji její neodbytný nápadník poctil. Ještě opovážlivější, než tyhle fantaskní nápady, ba až nestoudné. Ale nikolivěk proti srsti. Podívala se na něj zvrchu.</p>
<p>"Nejtenčí. Jako má trpělivost s tvou pošetilostí."</p>
<p>Rozeběhla se od něj pryč. Ale neutíkala daleko. Jen po okraj nábřeží, kde se měsíc odrážel ve ztemnělé hladině. Vítr vanoucí od moře studil, až se zimomřivě obejmula, ale neucouvla. Za krátko uslyšela jeho kroky za zády a pak na ramenou pocítila dotek prošívaného kabátu. Obejmul ji a ona se o něj s povzdechem opřela.</p>
<p>"Mluvil jsem vážně. Listiny jsou již podepsané. Odcházím."</p>
<p>„Vím, klepy se šíří rychle. Ale nemohu se k tobě připojit. Alespoň né teď. Jsem de Brienne. Nastávají těžké časy a je i mou povinností čelit nenávisti, která se teď kolem zvedá a bránit staleté dědictví. Přečkáme, než se ta bouře přežene.“</p>
<p>„Jenže tohle není jen tak ledajaká bouře. Dokud žil Mirabeau, ještě se dalo doufat, ale teď? Vraždění ve věznicích a soud s králem jsou pouze první vlaštovky. Nejdříve jen tu a tam mráček, za chvíli zatažená obloha a pak najednou liják. V průběhu týdnů nebo měsíců, tak jako tak přijde potopa. A v takových chvílích je lepší taktický ústup.“</p>
<p>Zavřela oči. Věděla, že má pravdu. Blížil se konec jedné éry. Je pro ně místo i v té další? Jsou vznešení a letití, ale i starý Řím byl vznešený a letitý a přesto padl v prach, rozerván zdivočelými lidskými smečkami.
<p>"Nemohu opustit rodiče, Francoisi."</p>
<p>Na to už neměl co říct on.</p>
<p>"Budeš mi psát?"</p>
<p>"Každou volnou chvíli."</p>


{% endblock %}
