{% extends "post.html" %}

{% set title = 'Drabble č. 5 (15. kolo)' %}

{% block content %}

<h2>Drabble č. 5</h2>
<p>Týden dovolené byl pryč, čeká na něj práce. Spatřil nějaké listiny, které se mu během nepřítomnosti nahromadily na stole a nemohl je vyřídit asistent. Objednávky látek a vybavení, které vyžadovaly jeho podpis, výkazy, zprávy o aplikacích. To může počkat, stejně nejde o nic důležitého. Ve své laboratoři má teď na práci mnohem důležitější věci.</p>
<p>Chtěl především prohlédnout kolonie stafylokoků, které nakultivoval před odjezdem. Petriho misky měl srovnané na vedlejším stole u pootevřeného okna, cílem bylo zjistit, jak se budou kolonie rozvíjet za normálních podmínek. Sotva jim věnoval první pohled, všiml si, že jedna miska obsahuje kontaminaci. Asi plíseň, pomyslil si. Nu co, i neočekávané podmínky jsou součástí výzkumu, bude zajímavé to porovnat s ostatními miskami.</p>
<p>Jal se Petriho misky prohlížet pod mikroskopem. Nic obzvláště zajímavého. Až došlo na plesnivou kulturu. Přiložil oko a zaostřil. Hleděl do okuláru. Hleděl dlouho.</p>
<p>Odstoupil a posadil se. Zhluboka se nadechl a chvíli čekal. pronesl Sedícímu mu projela hlavou spousta možných důsledků toho, co viděl, pokud se nemýlí. Znovu vstal a opět přiložil oko k okuláru. Bylo to tak. V hranicích oblasti zasažené plísní nenašel jedinou bakterii, ať se díval, jak chtěl. Porovnal objev se všemi zbývajícími miskami. Nikde jinde nic podobného nenalezl.</p>
<p>„To je ale legrační,“ pronesl po chvíli. </p>


{% endblock %}
