{% extends "post.html" %}

{% set title = 'Drabble č. 7 (15. kolo)' %}

{% block content %}

<h2>Drabble č. 7</h2>
<p>Dne 11. srpna 1914 přišla poručíku Wilkinsovi, správci nejzapadlejší africké kolonie Jeho Veličenstva Jiřího V. důležitá depeše. Mladý muž, nedávno sem uklizený rodinou pro vyhnutí se společenskému skandálu, po příchodu do kanceláře vrhl letmý pohled na úřední listiny pomalu se vršící na jeho stole. Neměl náladu a vlastně ani důvod se příliš věnovat zbytečným úředním činnostem, které v této anglikánským bohem jistě zapomenuté zemi zněly spíše směšně než užitečně.</p>
<p>Ze začátku se snažil těmto úkolům věnovat s náležitou důsledností, ale když zjistil, že má mimo jiné vykazovat návštěvnost modliteb podle vyznání (přičemž místní animistické praktiky ve výčtu pochopitelně chyběly), či referovat o smýšlení domorodců o králi a jeho aparátu dospěl k závěru, že devět z deseti takových agend jednoduše plnit nebude (ostatně dle obsahu rozklížených skříní v jeho kanceláři učinil závěr, že jeho předchůdce postupoval stejně. Ten mu naštěstí zanechal dobře vybavený bar, a tak trávil většinu času, kterou nemusel věnovat své malé jednotce koloniální pěchoty, sedící se sklenkou dobrého pití, které mu pomáhalo důstojně zapomenout na to, jak místo důstojného souboje nedůstojně vypráskal lorda Henryho kvůli Maud. Kvůli své Maud… Té mrše proradné. Vyměnila ho za toho hňupa, jehož jedinou lidskou kvalitou bylo, že byl malý, a nezabíral tak svou nicotností mnoho místa na slunci. Ale byl bohatý. Ovšemže nikoli z plodů své práce…</p>
<p>Jak to, že neprohlédl dřív, že Maud jde jen po penězích? Byl hlupák, když si myslel, že ho ta potvora miluje. Ale takovou chybu už podruhé neudělá.</p>
<p>Depeše jménem krále, označená jako pilná, mu teď přišla vhod. „Jménem jeho veličenstva… s těžkým srdcem… hranice narušena… válka… nejvyšší obezřetnost… internovat všechny nepřátelské cizince. Vládni Británie.“</p>
<p>Takže 4. srpna Británie vstoupila do války. Sem to depeši trvalo týden. Ale ať četl, jak četl, nezjistil to hlavní. Po krátkém rozmyslu napsal tuto odpověď: „V kolonii se nachází tři Američané, dva Francouzi, tři Belgičané a pět Němců. Prosím o odpověď: Proti komu bojujeme?“</p>
<p>A budu čekat další týden na odpověď, pomyslil si. Pak se před ním opět zjevil obrázek jeho krásné, zrádné Maud. Pobavený pocit zmizel. „Maud, proč jsi mi to udělala?“ zeptal se posté a obrátil do sebe další sklenku whisky. Alkohol a horko posílily jeho předsevzetí: když už je ta válka, ať proti komukoli, nechá se převelet přímo do boje. Padne, a tak se jí pomstí. Zasmál se své hlouposti, ale přesto počal psát svou druhou depeši toho horkého letního afrického dne. </p>

{% endblock %}
