{% extends "post.html" %}

{% set title = 'Drabble č. 9 (15. kolo)' %}

{% block content %}

<h2>Drabble č. 9</h2>
<p>Kolonie na hranici Říše, pojmenovaná po manželce císaře Claudia, která se tu kdysi narodila, neskýtala na první pohled nijak utěšený dojem. A měl-li být upřímný, ani na druhý a na třetí. Několik římských správních budov, vojenský tábor a vily usazených boháčů sice snesly nejpřísnější měřítka, ale tím více podtrhovaly nuzotu ostatního. Původ v barbarském hradišti zaostalých Germánů zkrátka nebylo možno smýt. I obyvatelstvo bylo mimo administrativní aparát směsí barbarských Batavů, usazených římských veteránů a vysloužilých příslušníků pomocných kohort, to vše doplněno sluhy a otroky, kteří sem přišli se svými pány. Taková směs nikdy nedělá dobrotu, projelo mu hlavou. Od stále ještě nedávného povstání v roce čtyř císařů jsou zdejší poměry stále nejisté.</p>
<p>A právě tady má on postavit jeden z divů římského inženýrství.</p>
<p>„Ave, místodržiteli,“ řízně pozdravil ostře řezaného muže s obličejem plným jizev před sebou. I ten jej pozdravil dle vojenského způsobu, žádná jiná okázalost, falešná bodrost a strojenost, žádný purpur. Tento muž si nehraje na provinčního císaře, pomyslil si. Otevřel kožené pouzdro a předal muži dokumenty. „Zde jsou mé pověřovací listiny podepsané samotným císařem Titem.“</p>
<p>Čekal, až si je muž přečte a zatím si jej prohlížel. Jistě, na takto exponované místo Řím nevybírá velitele podle zásluh a na dožití. Sem se obvykle dávají takoví, kteří nejsou v císařských kruzích oblíbení, ale zároveň oplývají nezbytnými schopnostmi udržet provincii v klidu a případně rázně zvládnout neustále hrozící revoltu vojenskými prostředky.</p>
<p>Když místodržitel dočetl, podíval se na příchozího. „Jsi vojenský inženýr, že? Kde jsi sloužil?“</p>
<p>„Desátá legie, pane. S císařem a jeho otcem, který již vstoupil mezi bohy, jsem dobýval Jeruzalém. Vedl jsem obléhací práce.“</p>
<p>Místodržitel viditelně pookřál a podíval se na něj mnohem přátelštěji. „Jsem rád, že na takový úkol, jako postavit osmdesát mil dlouhý akvadukt, vybrali muže, který zjevně zná své řemeslo.“ Podal mu ruku a příchozí vděčně přijal neokázale nabídnuté přátelství. Oba se posadili a místodržitel nechal donést malé občerstvení.
<p>Sedící a posilněný několika doušky překvapivě dobrého vína se inženýr po několika seznamovacích frázích optal: „Kde jsi sloužil ty, příteli? Je na tobě vidět, že toto není tvé první umístění na hranicích Říše.“</p>
<p>„To vskutku není. Británie. Sloužil jsem pod Paulinem. Bránil jsem Camulodunum s polovinou Deváté proti stu tisíc Boudicciných povstalců. Dělali jsme, co se dalo, ale tohle bylo nad naše síly. Dostal jsem dlouhým keltským mečem do obličeje,“ ukázal na své jizvy, „týden jsem ležel na bojišti považovaný za mrtvého. Až když Paulinus Boudiccu rozdrtil, našli mě, když jsem byl už na půl cestě do Elysia. Skoro se mi ani nechtělo vracet. S takovým záznamem ti teplé místečko nedají. Ale stejně jsem radši tady, Řím se mi za Nerona zprotivil.</p>
<p>Ale nechme toho, teď mi řekni, příteli, kudy přesně vodu z Eifelu povedeš.“</p>


{% endblock %}
